:root {
    --gap: 0.5em;
    --bradius: 8px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 1.1em;
    font-family: 'Rubik', sans-serif;
}

.container {
    width: clamp(400px, 1200px, 80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attribution {
    position: absolute;
    bottom: 5px;
}

.attribution,
.attribution div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: var(--contrast);
    z-index: 1000;
}
.Social-icons .icon svg{
    width: 30px;
    height: 30px;
}
.opts .icon svg{
    width: 30px;
    height: 30px;
}
.line {
    width: 100%; /* Fill the available horizontal space */
    height: 2px; /* Adjust height as needed */
    background-color: white; /* Adjust color as needed */
    margin: 10px 0; /* Adjust margin as needed */
}


.attribution svg {
    stroke: #676fa3;
    fill:none;
    stroke-miterlimit:10;
    stroke-width:6px;
    height: 2.5em;
    margin-bottom: 0.2em;

}

.attribution span {
    color: #676fa3;
    text-align: center;
    margin-bottom: var(--gap);
    font-family: verdana;
}

.attribution span a {
    color: #8f95bd;

}




/* Hover Effects */

.modal:hover {

    box-shadow:  1px 1px 20px 0px #ffffff0f;

}

.modal:hover .left {

    
}



/* Single image showcase animation */
