:root {
  --text: #cbcbcb;
  --accent-color: #bb86fc;
  --hover-color: #ff79c6;
}

body {
  background: linear-gradient(135deg, #0a0a0a 0%, #1a1a2e 100%);
  color: var(--text);
}

body::before {
  content: "";
  display: none;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
  background-image: url(BGI.png);
  background-size: 8px;
  background-position: center center;
  background-repeat: repeat;
  opacity: 0.8;
}