:root {
  background: linear-gradient(to right, #171420, #1b046e);
  --text: #cbcbcb;
  --accent-color: #bb86fc;
  --hover-color: #ff79c6;
}

body {
  --bg: url('bgi.png'); /* Add this variable to set the background image */
  background: var(--bg);
  color: var(--text);
}

body::before {
  content: "";
  display: none;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
  background-image: url(BGI.png);
  background-size: 8px;
  background-position: center center;
  background-repeat: repeat;
  opacity: 0.8;
}